<h2>Please sign in </h2>
<br>
<form action="/sessions" method ="post">
<label for = "email">
  E-mail:
  <input name="email" type="email">
</label>
<label for = "password">
  Password :
  <input type="password" name="password"/>
</label>
<input type= "submit" value="Sign in">
</form>
